@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
    background-color: #f3f4f6; /* gray-100 */
    color: #1f2937; /* gray-800 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
